In [32]:

import math

def process_numbers(input_list):
    even_list = []
    odd_list = []

    for num in input_list:
        if num % 2 == 0:
            even_list.append(num)
        else:
            odd_list.append(num)

   
    even_squares = [num**2 for num in even_list]

 
    odd_square_roots = [math.sqrt(num) - num for num in odd_list]

    return even_list, even_squares, odd_list, odd_square_roots


input_list = [int(x) for x in input("Enter the list of numbers separated by spaces: ").split()]

even_list, even_squares, odd_list, odd_square_roots = process_numbers(input_list)


print("Even numbers in the list:", even_list)
print("Squares of even numbers:", even_squares)
print("Odd numbers in the list:", odd_list)
print("Square roots of odd numbers minus the number itself:", odd_square_roots)

Enter the list of numbers separated by spaces:  1 5 6 4 7 9 10

Even numbers in the list: [6, 4, 10]
Squares of even numbers: [36, 16, 100]
Odd numbers in the list: [1, 5, 7, 9]
Square roots of odd numbers minus the number itself: [0.0, -2.76393202250021, -4.354248688935409, -6.0]

In [44]:
#same  program of tutor
mainlist =[]
oddlist=[]
evenlist=[]
even=odd=0
for i in range (10):
    num=int(input("enter any numbers"))
    mainlist.append(num)
    if num%2==0:
            evenlist.append(num**2)
            even=even+1
    else:
        oddlist.append(num-(num**0.5))
        odd=odd+1
print("Input numbers list:",mainlist)
print("odd numbers list:",oddlist)
print("even numbers list:",evenlist)
print("total even numbers count is:",even)
print("total odd numbers count is",odd)

enter any numbers 1
enter any numbers 2
enter any numbers 3
enter any numbers 4
enter any numbers 5
enter any numbers 6
enter any numbers 7
enter any numbers 8
enter any numbers 9
enter any numbers 10

Input numbers list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd numbers list: [0.0, 1.2679491924311228, 2.76393202250021, 4.354248688935409, 6.0]
even numbers list: [4, 16, 36, 64, 100]
total even numbers count is: 5
total odd numbers count is 5

In [45]:
t=tuple() #empty tuple

In [46]:
print (type(t))

<class 'tuple'>

In [48]:
t1=()
type(t1)

tuple

In [49]:
t1=[]
type(t1)

list

In [50]:
t2=(2,3,4,5,6,7)

In [51]:
t2

(2, 3, 4, 5, 6, 7)

In [52]:
t2[4]

6

In [53]:
t4=tuple([1,2,3,4,5])

In [54]:
t4

(1, 2, 3, 4, 5)

In [55]:
t4=(1,2,3,4,5)
t4[2:3]

(3,)

In [56]:
t4[3]=30 #immutable word meaning

TypeError: 'tuple' object does not support item assignment

In [57]:
del t4[4] #immuatable we cannot assighn and delete elements from the tuple

TypeError: 'tuple' object doesn't support item deletion

In [63]:
t5=(4,3,6,2,8,5,[4,8,3,],9,6)
t5

(4, 3, 6, 2, 8, 5, [4, 8, 3], 9, 6)

In [64]:
t5[6]=30

TypeError: 'tuple' object does not support item assignment

In [67]:
t5[6][1]=90

In [68]:
t5

(4, 3, 6, 2, 8, 5, [4, 90, 3], 9, 6)

In [70]:
#count

mytuple=('one','two','three','four','one',
         'one','two','three')

In [71]:
mytuple

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [74]:
len(mytuple)

8

In [75]:
mytuple.count('one')

3

In [78]:
mytuple.index('two')

1

In [82]:
#tuple membership

mytuple2 =(1,2,3,4,9,8,7,6,5)

In [83]:
mytuple2

(1, 2, 3, 4, 9, 8, 7, 6, 5)

In [84]:
sorted(mytuple2) #it sort in an ascending order

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
 sorted(mytuple2,reverse=True)#is sort in an dscending order

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:
mytuple2

(1, 2, 3, 4, 9, 8, 7, 6, 5)

In [90]:
mytuple3=(1,5,3,4,8,7,'pranav')

In [92]:
mytuple3

(1, 5, 3, 4, 8, 7, 'pranav')

In [93]:
sorted(mytuple3)#it only works on homegeneous means it works on same datatype

TypeError: '<' not supported between instances of 'str' and 'int'

In [97]:
mytuple3=(1,5,3,4,8,7) 
mytuple3

(1, 5, 3, 4, 8, 7)

In [98]:
sorted(mytuple3)

[1, 3, 4, 5, 7, 8]

In [99]:
#create a list
list=[1,5,4,3,2]

In [100]:
list

[1, 5, 4, 3, 2]

In [107]:
#sort the list in ascending order without using the sort function
list=[1,5,4,3,2]
for i in range(0, len(list)):
    for j in range(i+1, len(list)):
        if list[i] >= list[j]:
            list[i], list[j] = list[j],list[i]
print("Sorted List", list)

Sorted List [1, 2, 3, 4, 5]

In [13]:
#program by tutor
list1=[4,3,6,2,8,5,9,6]

for i in range(len(list1)):
    min1=list1[i]
    for j in range (i+1,len(list1)):
        if min1>list1[j]:
            temp=list1[j]
            list1[j]=min1 
            min1=temp
    list1[i]=min1

list1

[2, 3, 4, 5, 6, 6, 8, 9]

In [14]:

#set creation
myset1={} #empty set cannot be created by curly braces

In [15]:
type(myset1)

dict

In [16]:
myset=set() #create an empty set ,you have to define set function to create empty set
type(myset)

set

In [17]:
myset={1,2,3,4,5,1,2,6} #set of numnbers

In [18]:
myset

{1, 2, 3, 4, 5, 6}

In [19]:
len(myset)

6

In [20]:
myset={1,1,2,2,3,4,5,5}
myset #duplicates elements are not allowed

{1, 2, 3, 4, 5}

In [21]:
myset1={1.79,2.08,3.99,4.56,5.45}#set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [ ]:
# Add and Remove items
myset={2,3,4,6,3,5,2}

In [26]:
myset.add(9) #add item to a set using add() method
myset

{1, 2, 3, 4, 5, 50, '9', 9}

In [27]:
myset[2]

TypeError: 'set' object is not subscriptable

In [28]:
myset.add(50)
myset

{1, 2, 3, 4, 5, 50, '9', 9}

In [29]:
myset[1] ##indexing is not supported in sets

TypeError: 'set' object is not subscriptable

In [31]:
myset.update(['TEN','ELEVEN','TWELVE']) #add multiple items to a set using update function
myset

{1, 2, 3, 4, 5, 50, '9', 9, 'ELEVEN', 'TEN', 'TWELVE'}

In [32]:
myset.update([10]) #add multiple items to a set using update fucntion
myset

{1, 10, 2, 3, 4, 5, 50, '9', 9, 'ELEVEN', 'TEN', 'TWELVE'}

In [33]:
myset.remove('TEN') #remove item in a set using remove function
myset

{1, 10, 2, 3, 4, 5, 50, '9', 9, 'ELEVEN', 'TWELVE'}

In [34]:
myset.update([False])

In [35]:
myset

{1, 10, 2, 3, 4, 5, 50, '9', 9, 'ELEVEN', False, 'TWELVE'}

In [36]:
myset.discard('9')#remove item from a set using discard fucntion
myset

{1, 10, 2, 3, 4, 5, 50, 9, 'ELEVEN', False, 'TWELVE'}

In [38]:
myset.clear() #to delete all items in a set
myset

set()

In [43]:

myset={1,2,3,4,5}
del myset #delete the set  of 
myset

NameError: name 'myset' is not defined

In [44]:

#set operations

A= {1,2,3,4,5}
B= {4,5,6,7,8}
C= {8,9,10}

In [46]:
A.union(B) #union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
A.union (B, C) #union of A, B and C
set(A)

{1, 2, 3, 4, 5}

In [52]:
A= {1,2,3,4,5}
B= {4,5,6,7,8}

In [53]:
A.intersection(B)#intersection of A and B

{4, 5}

In [55]:
 A.difference(B) # diffrence of set. set of elements means (a-b)

{1, 2, 3}

In [56]:
B.difference (A) #diffrence of set . set of elements that are only in

{6, 7, 8}

In [66]:
A= {1,2,3,4,5}  
B= {4,5,6,7,8}
A.union(B)- A.intersection(B)

{1, 2, 3, 6, 7, 8}

In [67]:
A= {1,2,3,4,5}
B= {6,7,8,9,10}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#string......... collection of character called as string and it is immutable its near about 50 methods
str 
'A a 1 #'
""    ""
'''      '''
"""      """

In [ ]:
#create a string