In [2]:
#1. Print with the ‘print’ function
# Example 1: Printing a string
print("Hello, World!")
# Output: Hello, World!

Hello, World!

In [3]:
# Example 2: Printing a variable
x = 42
print(x)
# Output: 42

42

In [5]:
#2. Print with string formatting
# Example 1: Printing a formatted string
name = "Pranav"
age = 25
print("%s is %d years old." % (name, age))
# Output: Pranav is 25 years old.

Pranav is 25 years old.

In [6]:
# Example 2: Printing a formatted string with a floating-point value
price = 19.99
print("The price is $%.2f." % price)
# Output: The price is $19.99.

The price is $19.99.

In [8]:
#3. Print with the ‘str.format()’ method
# Example 1: Printing a formatted string using 'str.format()'
name = "Pranav"
age = 30
print("{} is {} years old.".format(name, age))
# Output: Bob is 30 years old.

Pranav is 30 years old.

In [9]:

# Example 2: Printing a formatted string with named arguments
product = "Python Course"
price = 99.99
print("{name} costs ${price:.2f}.".format(name=product, price=price))
# Output: Python Course costs $99.99.

Python Course costs $99.99.

In [12]:
#4. Print with the ‘f-string’ syntax
# Example 1: Printing an f-string
name = "Pranav"
age = 35
print(f"{name} is {age} years old.")
# Output: Carol is 35 years old.

Pranav is 35 years old.

In [13]:
# Example 2: Printing an f-string with a formatted number
price = 29.95
tax_rate = 0.08
print(f"The total price is ${price * (1 + tax_rate):.2f}.")
# Output: The total price is $32.34.

The total price is $32.35.

In [24]:
#5. Print to a file or a stream
# Example 1: Printing to a file
with open('output.txt', 'w') as f:
    # Writing to the file using the print function
    print("This line will be written to a file.", file=f)

In [26]:

# Example 2: Printing to a stream
import sys
print("This line will be written to a stream.", file=sys.stderr)

This line will be written to a stream.