In [1]:
# Creating and printing a tuple
my_tuple = (1, 2, 3, 4, 5)
print("My tuple:", my_tuple)

My tuple: (1, 2, 3, 4, 5)

In [2]:
t=tuple() #to check type of tuple
print (type(t))

<class 'tuple'>

In [3]:
t1=()
type(t1)

tuple

In [4]:
#count
mytuple=('one','two','three','four','one',
         'one','two','three')
mytuple

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [5]:
len(mytuple)

8

In [6]:
#tuple membership

mytuple2 =(1,2,3,4,9,8,7,6,5)
mytuple2

(1, 2, 3, 4, 9, 8, 7, 6, 5)

In [7]:
sorted(mytuple2) #it sort in an ascending order

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
 sorted(mytuple2,reverse=True)#is sort in an dscending order

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
mytuple2 #it cannot change input list

(1, 2, 3, 4, 9, 8, 7, 6, 5)

In [10]:
# Tuple unpacking
coordinates = (10, 20)
x, y = coordinates
print("x:", x)
print("y:", y)

x: 10
y: 20

In [11]:
# Concatenating tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print("Combined tuple:", combined_tuple)

Combined tuple: (1, 2, 3, 4, 5, 6)

In [12]:
# Finding the length of a tuple
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print("Length of tuple:", length)

Length of tuple: 5

In [13]:
# Accessing elements of a tuple
my_tuple = ('apple', 'banana', 'cherry')
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

First element: apple
Last element: cherry

In [14]:
# Finding the index of an element
my_tuple = ('a', 'b', 'c', 'd')
index_of_c = my_tuple.index('c')
print("Index of 'c':", index_of_c)

Index of 'c': 2

In [15]:
# Slicing a tuple
my_tuple = (10, 20, 30, 40, 50)
sliced_tuple = my_tuple[1:4]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (20, 30, 40)

In [16]:
# Swapping values using tuple
a, b = 5, 10
a, b = b, a
print("After swapping, a:", a)
print("After swapping, b:", b)

After swapping, a: 10
After swapping, b: 5

In [19]:
# Function returning a tuple
def get_user_info():
    name = "Pranav"
    age = 22
    return name, age

user_info = get_user_info()
print("User Info:", user_info)

User Info: ('Pranav', 22)